body {
  background-color: #141414;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.carousel-control-next,
.carousel-control-prev {
  width: 1rem;
}

.btn {
  color: white;
}

.btn:hover {
  color: rgb(219, 219, 219);
}

.btn-black {
  background-color: #000;
}

@media (min-width: 576px) {
  .header-icons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
